*{
    margin: 0;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    padding:50px 0 100px 0;
   
}

nav h1{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.navbar ul li {
    color: rgb(255, 255, 255);
    list-style: none;
}
.navbar ul {
    display: flex;
    gap: 35px;
}
.navbar{
    padding: 9px;
    border: 1px solid rgb(57, 56, 56);
    border-radius: 50px;
}
.home{
    padding: 8px 20px;
    background-color: tomato;
    border-radius: 50px;
}
header{
    margin-bottom: 10%;
}

.container{
    margin: 0 15%;
}

.bannerDetails h1{
    color: white;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
}
.bannerDetails h1 span{
    font-family:cursive;
}
.bannerDetails p{
    color: grey;
    padding: 30px 0;
    font-size: 16px;
}

.joinBtn , .DownloadBtn{
    color: white;
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 45px;
}
.joinBtn{
    background-color: tomato;
}

.DownloadBtn{
    border: 1px solid white;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeHabit{
    text-align: center;

}

.changeHabit > h1{
    color: white;
    font-size: 54px;
}

.changeHabit > p {
    color: grey;
    padding: 25px 0 60px 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards h1{
    color: white;
    padding: 20px 0 5px 0;
}
.cards p{
    color: grey;
}

.cards img{
    border-radius: 50%;
}




/* responsive */
@media screen and (max-width: 576px) {
    .cards {
      flex-direction: column;
      gap: 40px;
    }
  }