*{
    margin: 0;
}

main{
    background-color: black;
}
header{ 
    background: rgb(17, 17, 17);
}
nav{
    display: flex;
    justify-content: space-around;
    padding:50px 0 100px 0;
   
}

nav h1 , footer h1{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.navbar ul li {
    color: rgb(255, 255, 255);
    list-style: none;
}
.navbar ul {
    display: flex;
    gap: 35px;
}

.navbar ul{
    padding-left: 0;
}
.navbar{
    padding: 8px 8px 8px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}
.home{
    padding: 8px 20px;
    background-color: tomato;
    border-radius: 50px;
}
.container{
    margin: 0 15%;
}

.bannerDetails h1{
    color: white;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
}
.bannerDetails h1 span{
    font-family:cursive;
}
.bannerDetails p{
    color: grey;
    padding: 30px 0;
    font-size: 16px;
}

.joinBtn , .DownloadBtn{
    color: white;
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 45px;
}
.joinBtn{
    background-color: tomato;
    border: none;
}

.DownloadBtn{
    border: 1px solid white;
    background-color: rgb(17, 17, 17);
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.changeHabit{
    text-align: center;
    margin-bottom: 8%;
    padding-top: 80px;
}

.h1Style{
    color: white;
    font-size: 54px;
}

.pStyle {
    color: grey;
    padding: 25px 0 60px 0;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards h1{
    color: white;
    padding: 20px 0 5px 0;
}
.cards p{
    color: grey;
}

.cards img{
    border-radius: 50%;
}

.runAnExtra img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
.runAnExtra {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
}
.SectionDetails{
    background-color: rgb(34, 34, 34);
}

.meet{
    padding: 8% 0;
    text-align: center;
}

.meetCards div{
    width: 326.67px;
    height: 300px;
}

.meetCards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background-color: rgb(17, 17, 17);
    text-align: start;
    
}

.cameron {
    background-image: url(images/trainer2.png);
    background-size: cover;
    border-radius: 18px;
}
.bell {
    background-image: url(images/trainer1.png);
    background-size: cover;
    border-radius: 18px;

}
.darrell {
    background-image: url(images/trainer3.png);
    background-size: cover;
    border-radius: 18px;

}
.russell {
    background-image: url(images/trainer4.png);
    background-size: cover;
    border-radius: 18px;

}
.fisher {
    background-image: url(images/trainer5.png);
    background-size: cover;
    border-radius: 18px;

}
.webb {
    background-image: url(images/trainer6.png);
    background-size: cover;
    border-radius: 18px;

}

.meetCards div h1 {
    color: white;
    position: relative;
    top : 240px;
    left: 15px;
}

.meetCards div p {
    color: grey;
    font-weight: 800;
    position: relative;
    top : 240px;
    left: 15px;
}


footer{
    background-color: rgb(17, 17, 17);
    padding-top: 5%;
}

.foo{
    display: flex;
    justify-content: space-around;
  

}
.foo h3{
    color: white;
    font-size: 32px;
}
.foo p{
    color: grey;

}

footer hr , footer p {
    display: none;
}

/* responsive */
@media screen and (max-width: 576px) {
    nav{
        justify-content: space-between;
        padding: 50px 15px;
    }
    .navbar ul{
        display: none;
      
    }
    .banner{
      flex-direction: column;
      gap: 40px;
    }

    .bannerDetails h1 {
        font-size: 50px;
    }

    .joinBtn , .DownloadBtn{
        padding: 10px 30px;
    }

    .h1Style{
        font-size: xx-large;
    }

    .cards{
      flex-direction: column;
      gap: 40px;
    }

    .runAnExtra{
      flex-direction: column;
      gap: 40px;
      align-items: center;
      text-align: center;
    }
    .runAnExtra img {
        width: 287px;
        height: 170px;
    }

    .meetCards {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        place-items: center;  
    }

    .meetCards div{
        width: 313px;
        height: 272px;
    }

    .meetCards div h1 {
        top : 210px;
        left: 15px;
    }

    .meetCards div p {
        top: 210px;
    }

    .russell, .bell{
        display: none;
    }

    .container{
        margin: 0 5%;   
    }

    footer hr, footer p {
        display: block;
    }
  }

